<!DOCTYPE html>
<html>
<head>
    <title>Waste Classification</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Waste Classification</h1>
        <form method="POST" action="/predict" enctype="multipart/form-data">
            <input type="file" name="image" id="imageInput" accept="image/*" required>
            <button type="submit">Classify</button>
        </form>
        {% if prediction %}
            <h2>Prediction: {{ prediction }}</h2>
        {% endif %}
    </div>
</body>
</html>
